/.RData
/.Rhistory
/1.R
/2.R
/22.R
/3.R
/4.R
/5.R
/a.R
/AAAAAAAAAAAAAAAAA.csv
/anova.R
/anova_z1.R
/b.R
/baza.xlsx
/baza_gosudarstvennaya_medicina.sav
/c.R
/categorical.R
/central.xlsx
/conditions.R
/cortest.R
/d.R
/Dannye_po_praktike.xlsx
/data frames.R
/Descriptive statistics.R
/ex1.R
/ex_1.r
/f.R
/firm.csv
/g.R
/Glass.txt
/h.ods
/h.R
/h.xlsx
/HHOLD_OSN.sav
/House_Rent_Dataset.csv
/int.R
/intensiv.xlsx
/k.R
/KW.R
/l1.R
/l1_z1.xlsx
/l1_z2.xlsx
/l2.R
/l3.R
/l3.xlsx
/l4.R
/l6.R
/l7.R
/l7.xlsx
/lab1.csv
/lab1.xlsx
/lab3nor.csv
/lab7.xlsx
/maha.R
/mysapmle.csv
/my_tb.csv
/nw.xlsx
/Plots.R
/pr.xlsx
/practice_session1_codes.R
/practice_session3_4_codes.R
/pt.R
/r30hall51.sav
/r30h_os51.dta
/r30h_os51.sav
/r30iall_53.sav
/sidr.R
/simple_regr.R
/t-test.R
/t8.xlsx
/task5.R
/task8.csv
/task8.R
/test.xlsx
/Variables.R
/vkr.R
/z5.xlsx